<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Indirizzo</th>
                <th>TipoCucina</th>
                <th>Maps</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rist of elenco">
                <!-- <td>
                    <a href="prodotto/dettaglio/{{ pro._id }}">{{ pro.codice }}</a>
                </td> -->
                <td>
                    <a href="ristorante/dettaglio/{{ rist._id }}">{{ rist.nome }}</a>
                </td>
                <td>{{ rist.indirizzo }}</td>
                <td>{{ rist.tipoCucina }}</td>
                <td> <a href="https://maps.google.it/maps?" class="btn btn-primary">Maps</a></td>
            </tr>
        </tbody>
    </table>
</div>
