<div class="container">
    <h1>Dettaglio Ristorante</h1>

    <p>Nome: {{varNome}}</p>
    <p>Indirizzo: {{varIndirizzo}}</p>
    <p>TipoCucina: {{varTipoCucina}}</p>

</div>

<div class="container">
    <h3>Recensioni</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Autore</th>
                <th>Testo</th>
                <th>Voto</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ris of elenco">
                <td>{{ ris.autore }}</td>
                <td>{{ ris.testo }}</td>
                <td>{{ ris.voto }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">

    <h4>Inserisci Recensione</h4>

    <div class="mb-3">
        <label for="inputAutore" class="form-label">Autore</label>
        <input type="text" [(ngModel)]="varAutore" name="var_autore" class="form-control" id="inputAutore"
            aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="inputTesto" class="form-label">Testo</label>
        <input type="text" [(ngModel)]="varTesto" name="var_testo" class="form-control" id="inputTesto"
            aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="inputVoto" class="form-label">Voto</label>
        <input type="number" [(ngModel)]="varVoto" name="var_voto" class="form-control" id="inputVoto"
            aria-describedby="emailHelp">
    </div>

    <button type="button" (click)="insertRecensione()" class="btn btn-primary">Inserisci</button>

</div>